{% extends 'partials/base.html' %}

{% block title %} Logout {% endblock %}

{% load crispy_forms_tags %}
{% crispy form %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Logout Page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h3>You have Logged Out!</h3>
                    </div>
                    <a href="{% url 'user-login' %}">Click Here to Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}